@import "../../../../_variables"

@media only screen and (max-width: 600px)
    .navbar
        display: none


@media (min-width: 576px)
    .navbar
        display: flow-root
        z-index: 99999
        margin-bottom: 0
        .container-fluid
            display: contents
            .navbar-brand
                margin-left: 0
                color: #242323
                font-size: 26px
                left: 44%
                position: absolute
                top: 10px
            .me-auto
                display: inline
                letter-spacing: 1px
                .nav-item, .dropdown
                    text-transform: uppercase
                    font-family: $roboto-slab
                    font-size: 16px
                    padding: 0.5rem
                    .dropdown-toggle
                        background-color: transparent
                    a
                        color: #000
                        padding: 15px 10px
                    .dropdown-menu
                        position: absolute
                        padding: 15px
                    .active
                        color: $brown
            .login
                display: inline

                .navbar-item
                    transition: transform .2s
                .navbar-item:hover
                    transform: scale(1.05)
                a
                    text-transform: initial
                    color: #000
                li
                    padding-top: 2px
                    margin: 15px
                    .cartBadge
                        position: relative
                        background-color: #000
                        color: #fff
                        font-size: 10px
                        border-radius: 30px
                        padding: 0.4rem 0.65rem
                        bottom: 10px
                        right: 5px
                        font-family: Arial
