<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav pull-left me-auto">
            <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active">Novo!</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categoria</a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/produto">Produtos</a>
                    </li>
                    <li><a href="/produto/roupas/camisetas">Camisetas</a>
                    </li>
                    <li><a href="#">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="/services" routerLinkActive="active">Marcas</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active">Sale</a></li>
        </ul>

        <ul class="nav navbar-nav pull-center">
            <a class="navbar-brand" routerLink="/home">ABITOLUT UP</a>
        </ul>

        <ul class="nav navbar-nav pull-right login">
            <!--li><a routerLink="/login" routerLinkActive="active"><i class="fas fa-user fa-2x"></i></a></li-->
            <li class="navbar-item"><img src="assets/img/search.svg" width="20px" height="20px"></li>
            <li class="navbar-item"><img src="assets/img/user.svg" width="20px" height="20px"></li>
            <li class="navbar-item">
                <img src="assets/img/shopping-bag.svg" width="20px" height="20px">
                <span class="cartBadge">7</span>
            </li>
        </ul>
    </div>
</nav>
<app-navbar></app-navbar>