<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav pull-left login">
            <li class="navbar-item"><img src="assets/img/facebook.svg" width="20px" height="20px"></li>
            <li class="navbar-item"><img src="assets/img/instagram.svg" width="20px" height="20px"></li>
        </ul>
        <ul class="nav navbar-nav pull-right login">
            <!--li><a routerLink="/login" routerLinkActive="active"><i class="fas fa-user fa-2x"></i></a></li-->
            <li class="navbar-item"><img src="assets/img/search.svg" width="20px" height="20px"></li>
            <li class="navbar-item"><img src="assets/img/user.svg" width="20px" height="20px"></li>
            <li class="navbar-item">
                <img src="assets/img/shopping-bag.svg" width="20px" height="20px">
                <span class="cartBadge">7</span>
            </li>
        </ul>
    </div>
</nav>
<app-navbar></app-navbar>