@import "../../../../_variables"

@media only screen and (max-width: 600px)
    .navbar
        background-color: transparent !important
        text-transform: uppercase
        font-family: $roboto-slab
        justify-content: center
        margin: 0
        display: inline-grid !important
        width: 100%
        border-bottom: 1px solid #e2e2e2

        .initial
            display: flex
            .brand
                margin: 0 15px 0 15px
                .navbar-brand
                    font-size: 28px
                    padding-top: 1.6rem
                    color: #000

            .navbar-toggler
                font-size: 20px
                background-color: transparent
                border: 0
            .container-cart
                margin-top: 12px
                margin-left: 20px
                .cartBadge
                    font-family: Arial
                    position: relative
                    background-color: #000
                    color: #fff
                    font-size: 10px
                    border-radius: 30px
                    padding: .4rem 0.65rem
                    bottom: 10px
                    right: 5px
        
        *:focus-visible,
        *:focus:not(:focus-visible)
            outline: 0

.navbar
    display: none