@import url('https://fonts.googleapis.com/css2?family=Rajdhani');

@font-face {
	font-family: "Abitolut Up";
	src: url('/assets/fonts/microsoft-tai-le-2.ttf');
	font-display: swap;
	font-style: normal
}

@font-face {
	font-family: "Nimbus Sans Extended D";
	src: url('/assets/fonts/NimbusSansExtD-Bold.woff2') format("woff2"), url('/assets/fonts/NimbusSansExtD-Bold.woff') format("woff");
	font-display: swap;
	font-style: normal
}

@font-face {
	font-family: "Nimbus Roman D";
	src: url('/assets/fonts/NimbusRomanD-Regular.woff2') format("woff2"), url('/assets/fonts/NimbusRomanD-Regular.woff') format("woff");
	font-display: swap;
	font-style: normal
}
:root {
	--fontNormal: "Abitolut Up", "Helvetica Neue", Arial, sans-serif;
	--fontCondensed: "Abitolut Up", "Helvetica Neue", Arial, sans-serif;
	--fontCondensedNonTranslated: "Abitolut Up", "Helvetica Neue", Arial, sans-serif;
	--fontSizeXS: 1.1rem;
	--fontSizeS: 1.4rem;
	--fontSizeM: 1.6rem;
	--fontSizeMCondensed: 1.6rem;
	--fontSizeL: 1.9rem;
	--fontSizeLCondensed: 1.9rem;
	--fontSizeXL: 2.8rem;
	--fontSizeXXL: 7.3rem;
	--fontSizeXXLBoldMobile: 2.6rem;
	--fontSizeXXXLBold: 16.5rem;
	--fontSizeXXXLBoldMobile: 12.67361vw;
	--fontSizeTomXS: 2.2rem;
	--fontSizeTomHeroMD: 4.7rem;
	--fontSizeTomHeroLG: 5.6rem;
	--fontSizeTomHeroXL: 7.3rem;
	--fontSizeTomEditorialPostsSM: 4.2rem;
	--fontSizeTomEditorial2PostsLG: 4.7rem;
	--fontSizeTomEditorial2PostsXL: 5.6rem;
	--fontSizeTomEditorial3PostsLG: 4.2rem;
	--fontSizeTomEditorial3PostsXL: 4.7rem;
	--lineHeightXS: 1.272;
	--lineHeightS: 1.285;
	--lineHeightM: 1.375;
	--lineHeightMCondensed: 1.375;
	--lineHeightL: 1.368;
	--lineHeightLCondensed: 1.368;
	--lineHeightXL: 1.318;
	--lineHeightXXL: 1.068;
	--lineHeightXXLBold: 1.286;
	--lineHeightXXLBoldMobile: 1.231;
	--lineHeightXXXLBold: 1.119;
	--lineHeightTomXS: 1.318;
	--lineHeightTomHeroMD: 1.234;
	--lineHeightTomHeroLG: 1.25;
	--lineHeightTomHeroXL: 1.26;
	--lineHeightTomEditorialPostsSM: 1.238;
	--lineHeightTomEditorial2PostsLG: 1.234;
	--lineHeightTomEditorial2PostsXL: 1.25;
	--lineHeightTomEditorial3PostsLG: 1.238;
	--lineHeightTomEditorial3PostsXL: 1.234;
	--letterSpacingNormal: normal;
	--letterSpacingMCondensed: normal;
	--letterSpacingLCondensed: normal;
	--textTransformNone: none;
	--textTransformUppercase: none;
	--textTransformUppercaseBrand: none;
	--displayTextTransform: uppercase;
	--displayFontFamily: "Nimbus Sans Extended D", Helvetica, "Arial Bold", sans-serif;
	--displayLineHeight: 1;
	--displayFontSizeXs: 2.6rem;
	--displayFontSizeSm: 3rem;
	--displayFontSizeMd: 2.6rem;
	--displayFontSizeLg: 3rem;
	--displayFontSizeXl: 3rem;
	--displayArabicLineHeight: 1.307;
	--displayArabicLineHeightSm: 1.266;
	--displayArabicLineHeightMd: 1.307;
	--displayArabicLineHeightLg: 1.266;
	--displayArabicLineHeightXl: 1.266;
	--displayAsianLineHeight: 1.307;
	--displayAsianLineHeightSm: 1.266;
	--displayAsianLineHeightMd: 1.307;
	--displayAsianLineHeightLg: 1.266;
	--displayAsianLineHeightXl: 1.266;
	--displayLargeFontFamily: "Nimbus Sans Extended D", Helvetica, "Arial Bold", sans-serif;
	--displayLargeLineHeight: 1;
	--displayLargeTextTransform: uppercase;
	--displayLargeFontSize: 3.2rem;
	--displayLargeFontSizeSm: 4.8rem;
	--displayLargeArabicLineHeight: 1.25;
	--displayLargeArabicResponsiveLineHeight: 1.167;
	--displayLargeAsianLineHeight: 1.25;
	--displayLargeAsianResponsiveLineHeight: 1.167
}

$roboto-slab: 'Rajdhani';

$background-color-full-page: #fff;
$background-color-second: #f2f2f2;
$background-card: #f6e6d2;
$background-navbar-white: #fff;
$background-navbar-green: #ced6ce;

$text-color-navbar: #000;
$green-card: #415941;

$yellow-clean: #FFF300;
$yellow-dark: #F0D000;
$blue: #120034;
$brown: #A38900;

$red: #e32b2b;
$orange: #e67e22;

$dark-gray: #5f5f5f;
$light-gray: #cabebe;

$light-gray-size: #c9cac7;
$dark-gray-size: #e2e2e2;