@import url('https://fonts.googleapis.com/css2?family=Rajdhani');

$roboto-slab: 'Rajdhani';

$background-card: #f6e6d2;
$background-navbar-white: #fff;
$background-navbar-green: #ced6ce;

$text-color-navbar: #000;
$green-card: #415941;

$yellow-clean: #FFF300;
$yellow-dark: #F0D000;
$blue: #120034;
$brown: #A38900;