<div class="shop">
    <div class="filter">
        <div class="filter-title col-12">
            <div class="title col-6 p-0">
                <span>{{title}}</span>
            </div>
            <div class="filter-ordenation col-6">
                <div class="ordenar pull-right">
                    <select class="form-control" id="parameter" onchange="submitOrder(this)">
                        <option value="">Ordenar por:</option>
                        <option value="nome_a_z">Nome A-Z</option>
                        <option value="nome_z_a">Nome Z-A</option>
                        <option value="lancamentos">Lançamentos</option>
                        <option value="menores_precos">Menores Preços</option>
                        <option value="maiores_precos">Maiores Preços</option>
                        <option value="maiores_descontos">Maiores Descontos</option>
                        <option value="mais_vendidos" selected="">Mais Vendidos</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div *ngFor="let product of products" class="col-md-3 col-sm-6 col-6">
                <div class="product-grid3">
                    <div class="product-image3">
                        <a [routerLink]="['/produto', product.id]">
                            <img class="picture pic-1" [src]="product.images[0]">
                            <img class="picture pic-2" [src]="product.images[1]">
                        </a>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                        <span *ngIf="product.isNew" class="product-new-label new">New</span>
                        <span *ngIf="product.isSale" class="product-new-label sale">Sale</span>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">{{product.name}}</a></h3>
                        <div class="price">
                            {{product.price | currencyFormat}}
                            <span *ngIf="product.lastPrice">{{product.lastPrice | currencyFormat}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>